alias th="touch"
alias cls="clear"
alias rm="rm -i"
alias re=". ~/.aliases"
alias md="mkdir"
# alias nv="nvim"
# alias vi="nvim"
alias eo="exit"
alias vconf="editor ~/.vimrc"
alias zconf="editor ~/.zshrc"
alias sudo='sudo -E'
alias e="editor"
alias root="sudo -E $SHELL"
alias ls='eza --icons=auto'
alias ls='ls -alF --color=always --sort=size  | grep -v /'
alias la='ls -a'
alias ld='ls -lD'
alias lf='ls -lF --color=always | grep -v /'
alias lh='ls -dl .* --group-directories-first'
alias ll='ls -al --group-directories-first'
alias lt='ls -al --sort=modified'



