alias th="touch"
alias cls="clear"
alias rm="rm -i"
alias re=". ~/.aliases"
alias md="mkdir"
# alias nv="nvim"
# alias vi="nvim"
alias eo="exit"
alias vconf="editor ~/.vimrc"
alias zconf="editor ~/.zshrc"
alias sudo='sudo -E'
alias e="editor"
alias la="ls -lah"
alias root="sudo -E $SHELL"
